@model Pizza
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src=@Model.Image />
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Price$</p>
        </div>
    </div>

</div>