@model List<Pizza>

<div class="text-center">
    <h1>Pizzeria</h1>
    <div class="cont">
        @foreach(var pizza in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src=@pizza.Image />
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Description</p>
                    <p class="card-text">@pizza.Price$</p>
                   @* <a href="#" class="btn btn-primary">Details</a>*@
                    <a href="@Url.Action("Details", "Pizza", new {id= pizza.Id})" class="btn btn-primary">Details</a>
                </div>
            </div>
        }
       
    </div>

</div>
